:root{
    --color-one: #ffc;
    --color-two: #f0f;
    --color-three: #cfc;
    --color-four: #ccf;
}
body{
    text-align: center;
    background-color: #f5f5f5;
    font-family: 'University', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}
.app {
    display: inline-block;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
    font-family: 'University', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'University';
  src: url(../assets/University.otf);
}
